body 
{
    text-align: center;
    font-family: Arial;
    color: whitesmoke;
    font-size: 16px;
    margin: 0 ;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1cm;
    text-align: justify;
    border: 1px solid gray;
    margin: 0 auto;
    background-color: darkcyan;
}

#container h1{
    font-size: 50px;
}

#parrafo2{
    font-family: Geneva;
    font-size: x-large;
    color: rgb(221, 190, 90);
}